services:
  rallly_db:
    image: postgres:16
    restart: always
    ports:
      - "5450:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=rallly
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
 
  mailpit:
    image: axllent/mailpit
    ports:
      - "8025:8025"
      - "1025:1025"

  rallly_selfhosted:
    #image: lukevella/rallly:local
    image: sctg/rally:local
    # build:
    #   args:
    #     - SELF_HOSTED=false
    #   context: .
    #   dockerfile: ./apps/web/Dockerfile.sctg
    restart: always
    depends_on:
      rallly_db:
        condition: service_healthy
    ports:
      - 3000:3000
    environment:
      - ALLOWED_EMAILS=*@parapente.eu.org,*@cdvl59.eu.org,*@sctg.eu.org,*@kerbra.com,*@highcanfly.club,*@lecugnonnet.fr
      - DATABASE_URL=postgres://postgres:postgres@rallly_db/rallly
      - API_SECRET=abcdef1234567890abcdef1234567890
      - BETTER_AUTH_SECRET=abcdef1234567890abcdef1234567890
      - BETTER_AUTH_URL=http://localhost:3000
      - SMTP_HOST=mailpit
      - SMTP_PORT=1025
      - NEXT_PUBLIC_SELF_HOSTED=false
      - SUPPORT_EMAIL=support@sctg.eu.org
      - SECRET_PASSWORD=abcdef1234567890abcdef1234567890
      - CRON_SECRET=abcdef1234567890abcdef1234567890
      - NEXT_PUBLIC_BASE_URL=http://localhost:3000
      - AUTH_URL=http://localhost:3000
      - SENTRY_IGNORE_API_RESOLUTION_ERROR=1
      - SMTP_SECURE=false
      - SMTP_USER=
      - SMTP_PASS=
    # env_file:
    #   - .env

volumes:
  db-data:
    driver: local
